################################################################
# Gitignore
################################################################

# General
.DS_Store
.AppleDouble
.LSOverride

# Mac thumbnails 
._*

# Project based files 
/env
test.php
